<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <main>
        <a href="/actor/new">Add actor</a>
        <% actors.toSorted((a, b) => a.lastname.toLowerCase().localeCompare(b.lastname.toLowerCase())).forEach(actor => { %>
            <article>
                <a href="/actor/<%= actor.id %>"><img src="<%= actor.src %>"></a>
                <h2><%= actor.firstname %> <%= actor.lastname %></h2>
                <div>
                    <a href="/actor/<%= actor.id %>/edit">Edit</a>
                </div>
            </article>
        <% }) %>
    </main>
</body>
</html>