<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <main>
        <% actors.forEach(actor => { %>
            <article>
                <a href="/actor/<%= actor.id %>"><img src="<%= actor.src %>"></a>
                <h2><%= actor.firstName %> <%= actor.lastName %></h2>
                <div>
                    <a href="/actor/<%= actor.id %>/edit">Edit</a>
                    <form method="post" action="/actor/<%= actor.id %>/delete">
                    <button type="submit" onclick="deleteFn('<%= actor.id %>')">Delete</button>
                    </form>
                </div>
            </article>
        <% }) %>
        <a href="/actor/new">Add actor</a>
    </main>
</body>
</html>