<%- include("components/head") %>
    <main>
                <h1><%= title %></h1>
        <a href="/actor/new">Add actor</a>
        <% actors.toSorted((a, b) => a.lastname.toLowerCase().localeCompare(b.lastname.toLowerCase())).forEach(actor => { %>
            <article>
                <a href="/actor/<%= actor.id %>"><img src="<%= actor.src %>"></a>
                <a href="/actor/<%= actor.id %>"><h2><%= actor.firstname %> <%= actor.lastname %></h2></a>
                <div>
                    <a href="/actor/<%= actor.id %>/edit">Edit</a>
                </div>
            </article>
        <% }) %>
    </main>
</body>
</html>