<%- include("components/head") %>
<div class="page-title-and-action">
    <a href="/actor">Back to actors</a>
</div>
        <main>
        <article>
            <h2><%= actor.firstname %> <%= actor.lastname %></h2>
            <ul>
                <% const country = countries.find(country => country.countryCode === actor.country); %> 
                <li>
                    <span>Born in <%= country?.country || "Unknown" %></span>
                    <span>on <%= new Date(actor.birthdate).toISOString().split("T")[0] %></span>
                </li>
            </ul>
            <img src="#">
        </article>
        <aside>
            <h3>Related movies</h3>
            <ul>
            <% associatedMovies.forEach((movie) => { %>
                <li><a href="/movie/<%= movie.movie %>"><%= movie.title %></li></a>
            <% }) %>
            </ul>
        </aside>
    </main>
</body>
</html>
