<%- include("components/head") %>
<div class="page-title-and-action">
    <a href="/movie">Back to movies</a>
</div>
    <%- include("components/errors.ejs") %>
    <main>
    <form method="post" action="/movie/new">
        <div class="form-row">
            <label for="title">Movie title: </label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="form-row">
        <label for="length">Movie length (in minutes):</label>
        <input type="number" name="length" id="length" min="1" max="999" required>
        </div>
        <div class="form-row">
        <label for="description">Movie description (min. 10 characters):</label>
        <textarea name="description" id="description" minlength="10" maxlength="1000" rows="10" cols="30" required></textarea>
        </div>
        <div class="form-row">
        <label for="price">Price (in US $):</label>
        <input type="number" name="price" id="price" min="1" max="99" step="any" required>
        </div>
        <div class="form-row">
        <label for="rating">IMDB rating:</label>
        <input type="number" name="rating" id="rating" min="0" max="10" step="any" required>
        </div>
        <div class="form-row">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" min="0" max="99" step="any" required>
        </div>
        <div class="form-row">
        <label for="genre">Associated genre:</label>
        <select name="genre" id="genre" required>
            <% genres.forEach(genre => { %>
                <option value="<%= genre.id %>"><%= genre.genre %></option>
            <% }) %>
        </select>
        </div>
        <div class="form-row">
        <label for="actors">Associated actors:</label>
        <select name="actors" id="actors" required multiple>
            <% actors.forEach(actor => { %>
                <option value="<%= actor.id %>"><%= actor.firstname %> <%= actor.lastname %></option>
            <% }) %>
        </select>
        </div>
        <div class="form-row">
        <a href="/movie">Cancel</a>
        <button type="submit">Submit</button>
        </div>
    </form>
    </main>
</body>
</html>