<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <%- include("components/errors.ejs") %>
    <form method="post" action="/actor/new">
        <label for="firstName">Enter firstname: </label>
        <input type="text" placeholder="Enter first name" name="firstName" id="firstName" required>
        <label for="lastName">Enter lastname: </label>
        <input type="text" placeholder="Enter last name" name="lastName" id="lastName" required>
        <label for="birthdate">Enter birthdate</label>
        <input type="date" id="birthdate" name="birthdate" min="1900-01-01" max="2024-12-31" required>
        <label for="country">Country: </label>
        <select name="country" id="country" required>
            <% countries.forEach(country => { %>
                <option value="<%=country.countryCode"><%= country.country %></option>
            <% }) %>
        </select>
    </form>
</body>
</html>