<%- include("components/head") %>
    <main>
        <h1><%= title %></h1>
        <a href="/genre/new">Add genre</a>
        <% genres.toSorted((a, b) => a.genre.toLowerCase().localeCompare(b.genre)).forEach(genre => { %>
            <article>
                <a href="/genre/<%= genre.id %>"><img src="<%= genre.src %>"></a>
                <h2><%= genre.genre %></h2>
                <div>
                    <a href="/genre/<%= genre.id %>/update">Edit</a>
                </div>
            </article>
        <% }) %>
    </main>
</body>
</html>