<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <main>
        <a href="/genre/new">Add genre</a>
        <% genres.toSorted((a, b) => a.genre.toLowerCase().localeCompare(b.genre)).forEach(genre => { %>
            <article>
                <a href="/genre/<%= genre.id %>"><img src="<%= genre.src %>"></a>
                <h2><%= genre.genre %></h2>
                <div>
                    <a href="/genre/<%= genre.id %>/update">Edit</a>
                    <form method="post" action="/genre/<%= genre.id %>/delete">
                    <button type="submit">Delete</button>
                    </form>
                </div>
            </article>
        <% }) %>
    </main>
</body>
</html>