<%- include("components/head") %>
    <div class="page-title-and-action">
        <a href="/genre">Back to genres</a>
    </div>
    <main>
        <article>
            <div>
            <h2><%= genre.genre %></h2>
            <a href="/genre/<%= genre.id %>/update">Edit</a>
            </div>
            <img id="genre-detail" class="detail-img" src=" <%= genre.src %>">
            <ul>
                <% associatedMovies.forEach((movie) => { %>
                    <li><a href="/movie/<%= movie.movie %>"><%= movie.title %></a></li>
                <% }) %>
            </ul>
        </article>
    </main>
</body>
</html>
