<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <main>
        <% genres.forEach(genre => { %>
            <article>
                <a href="/genre/<%= genre.id %>"><img src="<%= genre.src %>"></a>
                <h2><%= genre.title %></h2>
                <div>
                    <a href="/genre/<%= genre.id %>/edit">Edit</a>
                    <form method="post" action="/genre/<%= genre.id %>/delete">
                    <button type="submit" onclick="deleteFn('<%= genre.id %>')">Delete</button>
                    </form>
                </div>
            </article>
        <% }) %>
        <a href="/genre/new">Add genre</a>
    </main>
</body>
</html>