<%- include("components/head") %>
<div class="page-title-and-action">
    <a href="/movie">Back to movies</a>
</div>
    <main>
        <article>
            <h2><%= movie.title %></h2>
            <img src="<%= movie.src || '#' %>" alt="Poster of <%= movie.title %>">
            <ul class="item-details">
                <li>Genre</li>
                <li class="meta-info">
                    <span><%= movie.rating %>/10</span>
                    <span><%= movie.price %>$</span>
                    <span><%= movie.quantity %> in stock</span>
                </li>
                <li><%= movie.description %></li>
            </ul>
        </article>
        <aside>
            <h3>Related actors</h3>
            <ul>
            <li>Actor</li>
            <li>Actor 2</li>
            </ul>
        </aside>
    </main>
</body>
</html>
