<%- include("components/head") %>
        <div class="page-title-and-action">
        <h2><%= title %></h2>
        <a href="/movie/new">Add movie</a>
        </div>
        <main class="item-overview">
        <% movies.toSorted((a,b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase())).forEach((movie) => { %>
                <article>
                <a class="overview-wrapper" href="/movie/<%= movie.id %>">
                    <img src="<%= movie.src %>">
                    <h3><%= movie.title %></h3>
                </a>
                <ul>
                    <li><%= movie.rating %>/10</li>
                    <li><%= movie.price %>$</li>
                </ul>
                <ul>
                    <li><%= movie.quantity %> available</li>
                </ul>
            </article>
        <% }) %>
        </main>
</body>
</html>