<%- include("components/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <%- include("components/navbar") %>
    </header>
    <main>
        <a href="/movie/new">Add movie</a>
        <% movies.toSorted((a,b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase())).forEach((movie) => { %>
            <article>
                <a href="/movie/<%= movie.id %>"><img src="<%= movie.src %>"></a>
                <h2><%= movie.title %></h2>
                <p><%= movie.rating %></p>
                <p><%= movie.price %></p>
                <p><%= movie.quantity %></p>
                <div>
                    <a href="/movie/<%= movie.id %>/update">Edit</a>
                </div>
            </article>
        <% }) %>
    </main>
</body>
</html>