<%- include("components/head") %>
<body>
  <h1><%= title %></h1>
  <%- include("components/errors.ejs") %>
  <a href="/genre">Back to genres</a>
  <form action="/genre/<%= genre.id %>/update" method="POST">
        <input type="text" value="<%= genre.genre %>" name="genre" id="genre" required>
    <button type="submit">Update genre</button>
  </form>
  <form method="post" action="/genre/<%= genre.id %>/delete">
      <button type="submit">Delete</button>
    </form>
</body>
</html>
