<%- include("components/head") %>
<div class="page-title-and-action">
    <a href="/actor">Back to actors</a>
</div>
  <%- include("components/errors.ejs") %>
  <main>
  <form action="/actor/<%= actor.id %>/edit" method="POST">
    <div class="form-row">
        <label for="firstName">First name: </label>
        <input type="text" value="<%= actor.firstname %>" name="firstName" id="firstName" required>
    </div>
    <div class="form-row">
        <label for="lastName">Last name: </label>
        <input type="text" value="<%= actor.lastname %>"  name="lastName" id="lastName" required>
    </div>
    <div class="form-row">
        <label for="date">Date of birth: </label>
        <input type="date" value="<%= new Date(actor.birthdate).toISOString().split('T')[0] %>" id="birthdate" name="birthdate" min="1900-01-01" max="<%= new Date().toISOString().slice(0, 10) %>" required>
    </div>
    <div class="form-row">
        <label for="country">Country of birth: </label>
        <select name="country" id="country" required>
            <% countries.forEach(country => { %>
                <option value="<%= country.countryCode %>" <%= actor.country === country.countryCode ? "selected" : "" %>><%= country.country %></option>
            <% }) %>
        </select>
    </div>
        <div class="form-row">
        <label for="movies">Associated movies:</label>
        <select name="movies" id="movies" multiple>
            <% movies.forEach(movie => { %>
                <% const isSelected = associatedMovies.some(am => am.movieid === movie.id); %>
                <option value="<%= movie.id %>" <%= isSelected ? "selected" : "" %>><%= movie.title %></option>
            <% }) %>
        </select>
        </div>
    <div class="form-row">
        <a href="/actor/<%= actor.id %>">Cancel</a>
        <button type="submit">Update actor</button>
    </div>
  </form>
      <form method="post" action="/actor/<%= actor.id %>/delete">
      <button type="submit" class="delete-btn">Delete</button>
      </form>
</main>
</body>
</html>
